:root {
    --primary-color: white;
    --secondary-color: #0029BB;
    --accent1-color: #15AEA1;
    ---accent2-color: #0783DC;

    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;
}

body {
    background-color: var(--accent1-colro);
}

header,
main,
footer {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-column-start: 3;
    justify-content: space-around; 
    align-items: flex-start;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

.hero {
    position: relative
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 2em;
    background-color: #fefefe78;
    text-align: center;
    padding: 10px;
}

.hero h1 p {
    padding: 10px;
}

.hero article {
    position: absolute;
    top: 15em;
    left: 2em;
    right: 2em;
    background-color: #fefefe78;
}

.hero article img {
    float: right;
    width: 500px;
}


footer {
    background-color: #3e3e3e;
    padding: 1em;
    color: #fefefe;
    margin-top: 10rem;
}

.sociallinks {
    background-color: unset;
}

nav {
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin: 10px;
}

section {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start
}

form {
    width: 700px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: white;
    display: grid;
  }
  
  fieldset {
    display: grid;
    grid-gap: .7rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1.5rem;
  }
  
  legend {
    padding: 1rem;
    color: blue;
    font-size: 1.7em;
  }
  
  label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
  }
  
  label {
    text-align: right;
    padding-right: 1.5rem;
  }

  input, select, textarea {
    padding: 1rem;
    font-size: 1.5rem;
  }
  
  input[type="checkbox"] {
    width: 25px;
    height: 25px;
    vertical-align: bottom;
  }