:root {
    --primary-color: white;
    --secondary-color: #0029BB;
    --accent1-color: #15AEA1;
    ---accent2-color: #0783DC;

    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;
}

body {
    background-color: var(--accent1-colro);
}

header,
main,
footer {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-column-start: 3;
    justify-content: space-around; 
    align-items: flex-start;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

.hero {
    position: relative
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 2em;
    background-color: #fefefe78;
    text-align: center;
    padding: 10px;
}

.hero h1 p {
    padding: 10px;
}

.hero article {
    position: absolute;
    top: 15em;
    left: 2em;
    right: 2em;
    background-color: #fefefe78;
}

.hero article img {
    float: right;
    width: 200px;
}


footer {
    background-color: #3e3e3e;
    padding: 1em;
    color: #fefefe;
    margin-top: 10rem;
}

.sociallinks {
    background-color: unset;
}

nav {
    display: flex;
    align-content: center;
    justify-content: space-around;
}

section {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start
}